# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint

# SwiftPM
.build/
.swiftpm/

# macOS
.DS_Store

# Xcode workspace settings (ignore)
**/WorkspaceSettings.xcsettings
